@import '../../style/common';

.join-wrap {
  display: flex;
  justify-content: center;
  .join-card {
    flex: 0.5;
    overflow: hidden;
    margin-top: 2rem;
    padding: 2rem;
    background-color: $colorSet-gray;
    border-radius: 0.5rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    .join-item {
      margin-top: 2rem;
      opacity: 0.5;
      transition: opacity 300ms ease-in-out;
      &:first-child {
        margin-top: 0;
      }
      &:hover {
        opacity: 1;
      }
      .title {
        display: inline-block;
        font-weight: 600;
        transition: color 300ms ease-in-out;
      }
      .item-box {
        display: flex;
        overflow: hidden;
        height: 50px;
        margin-top: 0.5rem;
        border-radius: 25px;
        background-color: $colorSet-darkGray;
        label {
          width: 50px;
          svg {
            width: 50px;
            height: 50px;
            transition: color 300ms ease-in-out;
          }
        }
        input {
          flex: 1;
          width: 100%;
          margin: 0 1rem;
          font-size: $fontSize-24;
          font-weight: 600;
          color: $colorSet-white;
          line-height: 50px;
          transition: color 300ms ease-in-out;
        }
      }
      &.active {
        opacity: 1;
        .title {
          color: $colorSet-yellow;
        }
        .item-box {
          label {
            svg {
              color: $colorSet-yellow;
            }
          }
          input {
            color: $colorSet-yellow;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 640px) {
  .join-wrap {
    .join-card {
      flex: 1;
      padding: 0.5rem;
      .join-item {
        .item-box {
          height: 40px;
          label {
            width: 40px;
            svg {
              width: 40px;
              height: 40px;
            }
          }
          input {
            line-height: 40px;
          }
        }
      }
    }
  }
}