@import '../../style/common';

.info-card {
  .card-box {
    overflow: hidden;
    margin-top: 2rem;
    padding: 2rem;
    background-color: $colorSet-gray;
    border-radius: 0.5rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    &:first-child {
      margin-top: 0;
    }
    .card-head {
      svg {
        color: $colorSet-pink;
        vertical-align: middle;
      }
      h3 {
        display: inline-block;
        padding-left: 1rem;
        font-size: $fontSize-32;
        color: $colorSet-pink;
        line-height: 2rem;
        vertical-align: middle;
      }
    }
    .card-body {
      margin-top: 1rem;
      padding-top: 1rem;
      border-top: 1px solid $colorSet-lightGray;
    }
  }
}

@media only screen and (max-width: 640px) {
  .info-card {
    .card-box {
      padding: 1rem;
    }
  }
}