@import '../../style/common';

.MuiPickersStaticWrapper-staticWrapperRoot {
  min-width: auto !important;
  background-color: transparent !important;
  .MuiPickersBasePicker-containerLandscape {
    flex-direction: column;
  }
  .MuiPickersToolbar-toolbarLandscape {
    max-width: none !important;
    justify-content: center;
  }
  .MuiPickersToolbar-toolbar {
    flex-direction: row;
    align-items: center !important;
    height: 80px;
    padding: 0 0.5rem !important;
    background-color: $colorSet-pink !important;
    border-radius: 0.5rem;
    .MuiPickersToolbarButton-toolbarBtn {
      height: 56px;
      margin: 0 0.25rem;
      line-height: 56px;
      .MuiTypography-subtitle1 {
        font-size: $fontSize-32 !important;
        font-weight: 600;
        color: $colorSet-white;
      }
      .MuiPickersToolbarText-toolbarTxt {
        font-size: $fontSize-32 !important;
        font-weight: 600;
      }
    }
    .MuiPickersToolbarText-toolbarBtnSelected {
      font-size: $fontSize-32 !important;
      font-weight: 600;
      color: $colorSet-white;
    }
  }
  .MuiPickersBasePicker-pickerView {
    max-width: none !important;
    max-height: none !important;
    min-width: auto !important;
    margin-top: 1rem;
    .MuiPickersCalendarHeader-iconButton {
      left: calc(8% - 26px);
      margin: 0 2px;
      padding: 4px;
      background-color: transparent;
      .MuiSvgIcon-root {
        color: $colorSet-pink;
        font-size: $fontSize-32;
      }
    }
    .MuiPickersCalendarHeader-transitionContainer {
      height: 40px;
      .MuiTypography-body1 {
        height: 40px;
        color: $colorSet-pink;
        font-size: $fontSize-20;
        font-weight: 600;
        line-height: 40px;
      }
    }
    .MuiPickersCalendarHeader-transitionContainer + .MuiPickersCalendarHeader-iconButton {
      left: auto;
      right: calc(8% - 26px);
    }
    .MuiPickersCalendarHeader-dayLabel {
      flex: 1;
      width: auto;
      font-size: $fontSize-20;
      color: $colorSet-white;
      opacity: 0.5;
    }
    .MuiPickersCalendar-transitionContainer {
      .MuiPickersCalendar-week {
        div {
          flex: 1;
          text-align: center;
          .MuiTypography-body2 {
            font-size: $fontSize-20;
            color: $colorSet-white;
          }
          .MuiPickersDay-day {
            width: 100%;
            max-width: 36px;
            margin: 0 auto;
          }
          .MuiPickersDay-daySelected {
            background-color: $colorSet-pink;
            .MuiTypography-colorInherit {
              font-weight: 600;
            }
          }
        }
      }
    }
    .MuiTypography-colorPrimary {
      font-weight: 600;
      color: $colorSet-pink;
    }
  }
}

@media only screen and (max-width: 640px) {
  .MuiPickersStaticWrapper-staticWrapperRoot {
    .MuiPickersToolbar-toolbar {
      .MuiPickersToolbarButton-toolbarBtn {
        margin-right: 0.5rem;
      }
    }
    .MuiPickersBasePicker-pickerView {
      .MuiPickersCalendarHeader-iconButton {
        left: calc(10% - 26px);
      }
      .MuiPickersCalendarHeader-transitionContainer + .MuiPickersCalendarHeader-iconButton {
        left: auto;
        right: calc(10% - 26px);
      }
    }
  }
}