@import '../../style/common';

header {
  position: fixed;
  top: 50px;
  left: 0;
  width: 100%;
  height: 50px;
  &:before {
    position: absolute;
    top: -50px;
    left: 0;
    z-index: 0;
    width: 100%;
    height: 75px;
    background-color: $colorSet-darkGray;
    content: '';
  }
  h1 {
    position: absolute;
    top: -50px;
    left: 50%;
    z-index: 100;
    width: 248px;
    height: 150px;
    margin-left: -124px;
    opacity: 0;
    transition: opacity 300ms ease-in-out;
    a {
      display: block;
      top: -50px;
      left: 0;
      width: 100%;
      height: 100%;
      text-align: center;
      line-height: 150px;
      svg {
        filter: drop-shadow(4px 4px 2px black);
        vertical-align: middle;
      }
    }
  }
  nav {
    position: relative;
    max-width: 1240px;
    height: 50px;
    margin: 0 auto;
    border-radius: 25px;
    background-color: $colorSet-lightGray;
    .bg-active__bar {
      overflow: hidden;
      position: absolute;
      top: 0;
      left: 40%;
      width: 20%;
      height: 50px;
      border: 3px solid $colorSet-lightGray;
      border-radius: 25px;
      box-sizing: border-box;
      background: $colorSet-darkGray;
      -webkit-transition: left 300ms ease-in-out, border-color 300ms ease-in-out;
      transition: left 300ms ease-in-out, border-color 300ms ease-in-out;
    }
    ul {
      display: flex;
      position: relative;
      height: 100%;
      li {
        flex: 1;
        text-align: center;
        &:nth-child(2) {
          margin-right: 124px;
        }
        &:nth-child(3) {
          margin-left: 124px;
        }
        a {
          display: flex;
          width: 100%;
          height: 50px;
          align-items: center;
          justify-content: center;
          font-size: $fontSize-14;
          font-weight: 600;
          color: $colorSet-white;
          transition: color 300ms ease-in-out;
          svg {
            position: absolute;
            top: 0;
            left: 50%;
            border: 3px solid $colorSet-darkGray;
            background-color: $colorSet-darkGray;
            border-radius: 50%;
            opacity: 0;
            transform: translate(-50%, -34px);
            transition: opacity 300ms ease-in-out;
          }
          &:hover,
          &:focus {
            svg {
              opacity: 1;
            }
          }
        }
        &.menu0 {
          a:hover,
          a:focus {
            color: $colorSet-blue;
          }
        }
        &.menu1 {
          a:hover,
          a:focus {
            color: $colorSet-red;
          }
        }
        &.menu2 {
          a:hover,
          a:focus {
            color: $colorSet-yellow;
          }
        }
        &.menu3 {
          a:hover,
          a:focus {
            color: $colorSet-green;
          }
        }
      }
    }
  }
  &.active0 {
    h1 {
      opacity: 1;
    }
    nav {
      ul {
        li {
          a {
            color: $colorSet-white;
            svg {
              opacity: 0;
            }
          }
        }
      }
    }
  }
  &.active1 {
    .bg-active__bar {
      left: 0;
      border-color: $colorSet-blue;
    }
  }
  &.active2 {
    .bg-active__bar {
      left: 20%;
      border-color: $colorSet-red;
    }
  }
  &.active3 {
    .bg-active__bar {
      left: 60%;
      border-color: $colorSet-yellow;
    }
  }
  &.active4 {
    .bg-active__bar {
      left: 80%;
      border-color: $colorSet-green;
    }
  }
}