/* coloSet defined */
$colorSet-white: #ffffff;
$colorSet-black: #000000;
$colorSet-darkGray: #232323;
$colorSet-gray: #323232;
$colorSet-lightGray: #666666;
$colorSet-blue: #0194ef;
$colorSet-pink: #f0028f;
$colorSet-yellow: #ffb610;
$colorSet-green: #1bb934;
$colorSet-darkBlue: #0d47a1;
$colorSet-darkPink: #a8208e;
$colorSet-darkYellow: #e65100;
$colorSet-darkGreen: #1b5e20;

$fontSize-12: 0.750rem;
$fontSize-14: 0.875rem;
$fontSize-20: 1.250rem;
$fontSize-30: 1.875rem;
$fontSize-32: 2rem;
$fontSize-36: 2.5rem;
$fontSize-56: 3.5rem;
$fontSize-112: 7rem;

@mixin unstyle-button() {
  outline: none;
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;
  background: transparent;
  /* inherit font & color from ancestor */
  color: inherit;
  font: inherit;
  /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
  line-height: normal;
  /* Corrects font smoothing for webkit */
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
  /* Corrects inability to style clickable `input` types in iOS */
  -webkit-appearance: none;
  text-align: inherit;
  &::-moz-focus-inner {
    border: 0;
    padding: 0;
  }
}