@import './common';

body {
  margin: 0;
  font-family: "Noto Sans KR", "Apple SD Gothic Neo", AppleSDGothicNeo, "Malgun Gothic", "맑은 고딕", 돋움, dotum, arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  overflow-x: hidden;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
  color: #333;
  font-size: 14px;
}

html,
body {
  height: 100%;
}

button {
  @include unstyle-button();
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
  margin: 0;
}

ul, ol, dl {
  margin: 0;
  padding: 0;
  list-style: none;
}

span, p, div {
  margin: 0;
  padding: 0;
}

input {
  border: none;
  background-color: transparent;
  font-family: "Noto Sans KR";
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  letter-spacing: -1px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus {
  border: none;
  -webkit-text-fill-color: white;
  -webkit-box-shadow: 0 0 0px 1000px $colorSet-darkGray inset;
  transition: background-color 5000s ease-in-out 0s;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}