@import '../../style/common';

footer {
  display: block;
  height: 50px;
  span {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    font-size: $fontSize-12;
    color: $colorSet-white;
    opacity: 0.5;
  }
}