@import '../../style/common';

.member-wrap {
  .member-card {
    display: block;
    overflow: hidden;
    width: 100%;
    margin: 2rem auto 0;
    padding: 2rem;
    background-color: $colorSet-gray;
    box-sizing: border-box;
    border-radius: 0.5rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    .card-head {
      svg {
        color: $colorSet-green;
        vertical-align: middle;
      }
      h3 {
        display: inline-block;
        padding-left: 1rem;
        font-size: $fontSize-32;
        color: $colorSet-green;
        line-height: 2rem;
        vertical-align: middle;
      }
      .admin-login {
        float: right;
        color: $colorSet-gray;
      }
    }
    .card-body {
      display: flex;
      flex-wrap: wrap;
      margin-top: 1rem;
      padding-top: 1rem;
      border-top: 1px solid $colorSet-lightGray;
      .card-inner {
        flex: auto;
        width: 25%;
        max-width: 25%;
        margin-top: 1rem;
        padding: 0 0.5rem;
        &:nth-child(4n - 3) {
          padding-left: 0;
        }
        &:nth-child(4n) {
          padding-right: 0;
        }
        &:first-child,
        &:first-child + .card-inner,
        &:first-child + .card-inner + .card-inner,
        &:first-child + .card-inner + .card-inner + .card-inner {
          margin-top: 0;
        }
        .card-box {
          padding: 0.5rem;
          border-radius: 0.5rem;
          background-color: $colorSet-darkgreen;
          text-align: center;
          .number {
            display: block;
            font-size: $fontSize-36;
            font-weight: 600;
          }
          .nickname {
            display: block;
            overflow: hidden;
            height: 3rem;
            font-size: $fontSize-24;
            text-overflow: ellipsis;
            white-space: nowrap;
            line-height: 3rem;
          }
        }
      }
      &.card-off {
        .card-inner {
          .card-box {
            opacity: 0.5;
          }
        }
      }
    }
  }
  .admin-box {
    input {
      flex: 1;
      width: 100%;
      margin-top: 0.5rem;
      padding: 0 0.5rem;
      border-radius: 0.5rem;
      box-sizing: border-box;
      background-color: $colorSet-gray;
      font-size: $fontSize-24;
      font-weight: 600;
      color: $colorSet-white;
      line-height: 50px;
      transition: color 300ms ease-in-out;
    }
  }
}

@media only screen and (max-width: 640px) {
  .member-wrap {
    .member-card {
      width: 100%;
      padding: 1rem;
      .card-body {
        .card-inner {
          width: 50%;
          max-width: 50%;
          padding: 0 0.5rem;
          &:nth-child(2n - 1) {
            padding-left: 0;
          }
          &:nth-child(2n) {
            padding-right: 0;
          }
          &:first-child + .card-inner + .card-inner,
          &:first-child + .card-inner + .card-inner + .card-inner {
            margin-top: 1rem;
          }
        }
      }
    }
  }
}